.header{
    background-color: gray;
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin: 0 auto;
}
.header_logo img{
    width: 136px;
}
.header_events img{
    width: 24px;
    height: 24px;
}
.header_music img{
    width: 24px;
    height: 24px;
}
.header_services img{
    width: 24px;
    height: 24px;
}
.header_profile img{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 50%;
}
.header_find img{
    width: 24px;
    height: 24px;
}
