.header{
    background-color: gray;
}
.header-wrapper{
    display: flex;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
}
.header-logo img{
    width: 136px;
}
.header-events img{
    width: 24px;
    height: 24px;
}
.header-music img{
    width: 24px;
    height: 24px;
}
.header-services img{
    width: 24px;
    height: 24px;
}
.header-profile img{
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 50%;
}
.header-find{

}